html {
    background-color: rgba(125, 179, 118, 0.884);

}

.title_text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:beige;
    transition: font-size 0.2s;
    background-position-x: center;
    background-position-y: top;
    font-size: 40px;
}