html {
    background-color: rgba(125, 179, 118, 0.884);

}

.title_text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:beige;
    transition: font-size 0.4s;
    background-position-x: center;

    font-size: 100px;
    font-weight: 700;
}

.body_text {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.1s;

    color: rgb(250, 235, 215);
    
    font-size:x-large;
    font-weight: 300;
    text-align: center;
}
.line{
    width: 100%;
    height: 9px;
    background-color: rgb(95, 143, 40);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.container_form {
    background-color: rgb(126, 209, 170);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button:hover{
    background-color: bisque;
}

#result{
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.image-block img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .body_text, .image-block img{
        padding-left:0;
        width: 100%;
        margin-bottom: 20px;
    }
    .image-block img{
        margin-bottom: 0;
    }
}